<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Fotrografía analogica por el mundo">
		<meta name="keywords" content="fotografia analogica 35mm film vintage analog">
		<title>BEBA-Fotografía</title>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="assets/img/favicon-16x16.png"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/estilo.css">
	</head>
	<body class="body">
		<header>
			<nav>
				<ul class="main_nav_list">
					<li class="main_nav_list_item">
						<a href="../index.html">INICIO</a>
					</li>
					<li class="main_nav_list_item">
						<a href="direccion.html">DIRECCIÓN</a>
					</li>
					<li class="main_nav_list_item">
						<a href="fotografia.html">FOTOGRAFÍA</a>
					</li>
					<li class="main_nav_list_item">
						<a href="dgrafico.html">DISEÑO GRÁFICO</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h1 class="encabezado">Fotografía Analógica</h1>
			<img src="../assets/img/analogica1.jpeg" alt="analogica edificio" />
			<img src="../assets/img/analogica2.jpg" alt="analogica caballo" />
			<img src="../assets/img/analogica3.jpg" alt="analogica gente" />
			<img src="../assets/img/analogica4.jpg" alt="analogica rana" />
			<img src="../assets/img/analogica5.jpg" alt="analogica lago" />
			<img src="../assets/img/analogica6.jpg" alt="analogica torta" />
		</main>
		<footer class="footer-data">
			<nav>
				<div>
					<ul class="footer_content_list">
						<a href="#top">
							<img class="footer_content_item rrss"src="https://icongr.am/clarity/collapse.svg?size=30&color=e00000" 
							alt="top web" class="top_web" />
							</a>
						<li class="footer_content_item"><a href="contacto.html">CONTACTO</li>
							<li class="footer_content_item rrss"> 
								<a href="https://www.instagram.com/beburrri/" target="_blank">
									<img src="https://icongr.am/entypo/instagram.svg?size=25&color=e00000" alt="instagram_logo">
									
								</a>
							</li>
							<li class="footer_content_item rrss">
								<a href="https://www.facebook.com/belurizzaro" target="_blank">
									<img src="https://icongr.am/entypo/facebook.svg?size=25&color=e00000
									
									" alt="facebook_logo">
								</a>
							</li>
					</ul>
				</div>
			</nav>
		</footer>
	</body>
</html>
